/* assets/global.css */

/* Global Styles */
/* Buttons */
.primary-button {
  background-color: #3fc3ef;
  color: #091416;
  padding: 11px 35px;
  border-radius: 26px;
  font-size: 17px;
  font-weight: 800;
  margin-right: 15px;
}
.secondary-button {
  color: #ffffff;
  padding: 11px 0px;
  border-radius: 22px;
  font-size: 17px;
  font-weight: 800;
  margin-right: 15px;
  text-decoration: none;
}
.primary-button:hover {
  background-color: #34a2c7;
  color: #091416;
}

/* Responsive */
@media screen and (min-width: 769px) and (max-width: 1068px) {
  .primary-button {
    padding: 10px 30px;
    font-size: 15px;
  }
  .secondary-button {
    padding: 10px 0px;
    font-size: 15px;
        margin-right: 0px;

  }
}
@media (max-width: 768px) {
  .primary-button {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .secondary-button {
    margin-right: 0px;
  }
}